<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <hr class="dotted_hr">
  <div class="header_box">
    <h1>_ARCHITEKT</h1>
    <div class="header_description">
      Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovation steps. This is the Architekt theme.
    </div>
  </div>
  {{{body}}}
</body>
</html>