<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <h1>this is my header for every page asdf1</h1>
  {{{body}}}
</body>
</html>