<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <hr class="dotted_hr">
  <div class="header_box">
    <h1>_ARCHITEKT</h1>
    <div class="header_description">
      Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovation steps. This is the Architekt theme.
    </div>
  </div>
  <div class="user_info">
    {{#if username}}
      <h3>Welcome {{username}}</h3>
      <form action="/gallery/new" method="GET">
        <a href="/gallery/new">New Post</a>
      </form>
      <form action="/gallery/logout" method="GET">
        <a href="/gallery/logout">Log out</a>
      </form>
    {{else}}
    <div>
      <h3>Welcome Guest</h3>
      <form action="/gallery/login" method="GET">
        <a href="/gallery/login"> Login</a>
        <br>
        <a href="/gallery/create_user">Create User</a>
      </form>
    </div>
    {{/if}}
  </div>

  {{{body}}}
</body>
</html>