
<form class="user_forms" action="" method="POST">
  Username: <br>
  <input type="text" placeholder="enter username here" name="username" autocomplete="off"><br>
  Password: <br>
  <input type="password" name="password"> <br>
  <input type="submit" value="Create User">
</form>