<form action="/gallery/{{images.id}}?_method=PUT" method="POST">


  AUTHOR: <br>
  <input type="text" placeholder="{{images.author}}" name ="author"><br>
  LINK: <br>
  <input type="text" placeholder="{{images.link}}" name ="link"> <br>
  DESCRIPTION <br>
  <input type="text" placeholder="{{images.description}}" name ="description"><br>
  <input type="submit" value="P U T">

</form>