<form class="user_forms" action="/gallery" method="POST">


  AUTHOR: <br>
  <input type="text" placeholder="name" name ="author"><br>
  LINK: <br>
  <input type="text" placeholder="url" name ="link"> <br>
  DESCRIPTION <br>
  <input type="text" placeholder="description" name ="description"><br>
  <input type="submit" value="P O S T">

</form>